@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.character-page {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    background-color: rgb(178, 187, 196);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

html, body {
    overflow: auto;
}

.character-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1, h2, h3 {
    font-family: "Almendra SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: 15px;
    margin-left: 15px;
}

.character-button {
    border: none;
    margin: 10px;
    font-size: 20px;
    border-radius: px;
}

.character-info {
    display: flex;
    flex-direction:row;
    justify-content: start;
}

